<footer class="sp-footer">
  <div class="sp-container sp-footer-inner">
    <a href="/" class="sp-logo">Serious People</a>
    
    <div class="sp-footer-links">
      <a href="/guides" class="sp-footer-link">Guides</a>
      <a href="/resources" class="sp-footer-link">Resources</a>
      <a href="mailto:hello@seriouspeople.com" class="sp-footer-link">Contact</a>
    </div>
    
    <p class="sp-copyright">&copy; <%= new Date().getFullYear() %> Serious People</p>
  </div>
</footer>
